<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redireciona a raiz exatamente para o HTML compilado
  RewriteRule ^$ dist/index.html [L]

  # Se tentar acessar arquivos do Vite (ex: assets/app.js) que estao dentro da dist/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ dist/$1 [L]
</IfModule>
